@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Users will be able to look for, book and cancel Taxi Rides. There are 3 different
    types of users. The administrator will be able to add/delete destinations, change prices and so on. The

    registered users will be able to book/cancel Rides. Finally, the guests will be able to search for Rides,

    but they won't be able to reserve them unless they register.
</p>
