@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Dut Ritson Campus<br />
    Durban<br />
    <abbr title="Phone">P:</abbr>
    031.234.5678
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:nks.gumbi@gmail.com">nks.gumbi@gmail.com</a><br />
</address>